* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

header {
  
  font-size: 0.8em;
  padding-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px); /* Adjust based on header/footer height */
  
}

.scheduler-container {
  display: flex;
  height: 620px;
  width: 100%;
  max-width: 800px;
  min-width: 240px;
  flex: 1;
}

.scheduler-iframe {
  border: 0;
  width: 100%;
  flex: 1;
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
